<h1>These are all the kittens you have: </h1>

<ul>
<% @kittens.each do |kitten| %>
    <li><%= link_to kitten.name, kitten %></li>
<% end %>
</ul>

<%= link_to "Add a new kitten!", new_kitten_path %>