<h1>This is all the information about this kitten: </h1>

<ul>
    <b>Name: </b><li><%= @kitten.name %></li>
    <b>Age: </b><li><%= @kitten.age %></li>
    <b>Cuteness: </b><li><%= @kitten.cuteness %></li>
    <b>Softness: </b><li><%= @kitten.softness %></li>
</ul>